
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
   background: #4b5d67 !important;  
   font-family: 'Space Mono', monospace;  
}

form {
	text-align: center;
	font-size: medium;
	transition-delay: 2.5s;
}

a {
	text-decoration: none;
	color: #ececec;
  }
  
  a:hover {
	color: #4b5d67;
  }
  
select, optgroup, option {
	background: #87556f;
	color: #ececec;
	text-align: center;
}

optgroup[label] {
	color: #ececec;
}

.custom-select {
	position: relative;
	margin-top: 20px;
	display: inline-block;
	background: #87556f;
	background-size: 10px;
	box-shadow: 0px 3px 8px #322f3d;
	border-radius: 0.25em;
	cursor: pointer;
}

.custom-select select {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 10px 40px 10px 10px;
}

.chart {
  width: 95%;
  height: 70%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

*:focus {
  outline: none;
}

footer {
	position: absolute;
  	right: 0;bottom:0;left:0;
   	width: 100%;
   	text-align: center;
	font-size: 12px;
        color: hsl(357, 8%, 60%);
}


/* 
	------------------------- Hamburger menu -------------------------
*/

h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 4rem;
  }
  p {
	color: #ececec;
  }

  .form-fadeIn {
	  transition: 0.5s ease-in;
  }
  
  #side-bar{
    position: absolute;
    min-width: 130px;
	  width: 15%;
      height: 100%;
      top: 0;
	  background: #87556f;
	  left:-300px;
	  transition: 0.3s ease-out;
	  z-index: 4;
      font-family: 'Space Mono', monospace;
      text-align: center;
  }
  .toggle-btn{
	  position: absolute;
	  top: 30px;
	  left: 310px;
	cursor: pointer;
	height: 50px;
	width: 50px;
  }

  .toggle-btn span{
	width: 20px;
	height: 5px;
	border-radius:5px;
	background: #87556f;
	display: block;
	margin-top:4px; 
	transition: 0.3s ease;
  }
  
  li{
	  color: #ececec;
	  list-style: none;
	  font-size: 1.5rem;
	  cursor: pointer;
  }
  
  li:hover{
	  color: #4b5d67;
  }
  
  #side-bar.active{
	  left:0;
  }
  #side-bar.active .toggle-btn {
	top: 2.8rem;
	left: 235px;
  }
  #side-bar.active span {
	position: absolute;
  }
  #side-bar.active span:nth-child(1) {
	transform: rotate(45deg);
	top: 0px;
  }
  #side-bar.active span:nth-child(2) {
	opacity: 0;
  }
  #side-bar.active span:nth-child(3) {
	transform: rotate(-45deg);
  }
  #side-bar.active ~ .content {
	opacity: 0.3;
  }
  

  @media only screen and (min-device-width: 320px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
	/* iPhone 5 only */
	
	.custom-select {
		position: relative;
		margin-top: 20px;
		background: #87556f;
		box-shadow: 0px 3px 8px #322f3d;
		border-radius: 0.25em;
		cursor: pointer;
		width: 215px;

	}
	
	.custom-select select {
		background: none;
		border: 0;
		cursor: pointer;
		outline: none;
		padding: 5px 20px 5px 5px;
		width: 215px;
	}
	
	.chart {
	  width: 60%;
	  height: 50%;
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  margin: auto;
	}

}
